*{
    
}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically */
    padding: 10px 10px;
    border: 1px solid black;
}

.logo{
    height: 100px;
}
.nav-item > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px; /* Adds space between menu items */
}
.res-card{
    margin: 5px;
    width: 150px;
    background-color: #f0f0f0;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.f-img {
    width: 100%; /* Ensures the image takes the full width of the card */
    height: 100px; /* Set a fixed height (adjust as needed) */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    
  }
  
.Search{
    padding: 10px;
}
.res-container{

    display: flex;
    flex-wrap: wrap;
}
.short-btn{
    margin: 10px;
}
.login{
    cursor: pointer;
}
.short-list{
    display: flex;
    
}
.search{
    margin: 10px;
}
.user-card{
    padding: 10px;
    border: 1px solid black;
    margin: 10px;

}

/* Add this to your CSS  Shimmer UI*/
.shimmer {
    padding: 20px;
  }
  
  .shimmer-header,
  .shimmer-subheader {
    height: 20px;
    background: #ccc;
    margin-bottom: 10px;
    animation: shimmer 1.5s infinite;
  }
  
  .shimmer-header {
    width: 200px;
    height: 30px;
  }
  
  .shimmer-subheader {
    width: 150px;
  }
  
  .shimmer-item {
    height: 20px;
    background: #ddd;
    margin: 10px 0;
    animation: shimmer 1.5s infinite;
    border-radius: 4px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
  /* Shimmer UI End*/